<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings><add name="webservicetwos3Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql.webservicetwo-s.com.br;initial catalog=webservicetwos3;persist security info=True;user id=webservicetwos3;password=o1o2o3;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="inspecaoEntities" connectionString="metadata=res://*/Inspecao.csdl|res://*/Inspecao.ssdl|res://*/Inspecao.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql.webservicetwo-s.com.br;initial catalog=webservicetwos3;persist security info=True;user id=webservicetwos3;password=o1o2o3;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key="Clicksign-Host" value="https://api.clicksign.com" />
    <!--<add key="Clicksign-Token" value="6e7717ba405a88754d3943b558ce2a1c" />-->
    <add key="Clicksign-Token" value="de3861faf07687e8afefeaf8ad9bb466" />
  </appSettings>
  <applicationSettings>
    <WebApplication1.Properties.Settings>
      <setting name="WebApplication1_Primario_Client" serializeAs="String">
        <value>http://easyepi.com.br/WBSClient/Client.asmx</value>
      </setting>
    </WebApplication1.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>