<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebServiceIntegracao.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="webservicetwos3Entities" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql.webservicetwo-s.com.br;initial catalog=webservicetwos3;persist security info=True;user id=webservicetwos3;password=o1o2o3;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <WebServiceIntegracao.Properties.Settings>
      <setting name="WebServiceIntegracao_InsertTeste_Client" serializeAs="String">
        <value>http://easyepi.com.br/Teste/Client.asmx</value>
      </setting>
    </WebServiceIntegracao.Properties.Settings>
  </applicationSettings>
</configuration>